<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>247070256840-8nvl9dnjh3timmhu0icf8ide1p81pkef.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.247070256840-8nvl9dnjh3timmhu0icf8ide1p81pkef</string>
	<key>API_KEY</key>
	<string>AIzaSyCapqGJ0WXG4i1uehgFMit8Vjm2XNVVx8k</string>
	<key>GCM_SENDER_ID</key>
	<string>247070256840</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ritik.suryawanshi.EWB</string>
	<key>PROJECT_ID</key>
	<string>ew-b-8a49b</string>
	<key>STORAGE_BUCKET</key>
	<string>ew-b-8a49b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:247070256840:ios:6b41e3ba711c6c3a38fffd</string>
	<key>DATABASE_URL</key>
	<string>https://ew-b-8a49b.firebaseio.com</string>
</dict>
</plist>
